.container-full {
  margin: 0 auto;
  width: 100%;
  padding-left: 25px;
  padding-right: 25px;
}
.worker-table
{
	display: block;
	margin: auto;
	border:1px solid black;
	padding:10px;
	border-radius:10px;
	background-color:white;
}
.msp-table
{
	display: block;
	
	width:80%;
	border:1px solid black;
	padding:10px;
	border-radius:10px;
	background-color:white;
}
.table-input
{
	padding:3px;
}
.percentage
{
	width: 45px;
}
.middle-button
{
	display: block;
	margin: auto;
}
.right-button
{
	display: block;
	float: right;
}
.content
{
	display: block;
	width:80%;
	margin: auto;
}
.large
{
	width: 95%;
}
.planning
{
	background-color: white;
}
.middle
{
	text-align:center;
	vertical-align: middle !important;
}
.weeks
{
	display: inline-block;
	width: 90%;
	margin-bottom: 20px;
	background-color:white; 
	padding:10px;
	border:1px solid #ddd;
}
.week-previous
{
	display: inline-block;	
	width: 30%;
}
.week-current
{
	display: inline-block;	
	width: 30%;
	text-align:center;
}
.week-next
{
	display: inline-block;	
	width: 30%;
	text-align:right;
}
.menu-contener
{
	display: inline-block;
}
.level_1
{
	width: 33%;
	padding:10px;
	display: inline-block;
	float:left;
	border:1px solid #ddd;
	margin:1px;
}
.level_2
{
	padding:10px;
	border: 1px solid #ddd;
	margin:5px;
}
.level_3
{
	width: 95%;
	padding:5px;
	border: 1px solid #ddd;

}
.remove-button
{
	display: inline;
	padding: 5px;
	background-color:white;
	border: none;
    font-size: 11px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    float: right;
}
.left
{
	float:left;
}
.delete-workshop-button
{
	color:red;
	padding-left:5px;
	cursor: pointer;
}
.shaped
{
	min-width: 120px;
}
td
{
	font-weight: bold;
}
.action-button
{
	display: inline;
	width: 40%;
	background-color: transparent;
	border: none;
	font-size:16px;
}